html,
body {
	height: 100%;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.wrap > .container {
	padding: 70px 15px 20px;
}

.footer {
	height: 60px;
	background-color: #F5F5F5;
	border-top: 1px solid #DDDDDD;
	padding-top: 20px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.not-set {
	color: #CC5555;
	font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}

a.asc:after {
	content: /*"\e113"*/ "\e151";
}

a.desc:after {
	content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.grid-view th {
	white-space: nowrap;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999999;
}

.error-summary {
	color: #A94442;
	background: #FDF7F7;
	border-left: 3px solid #EED3D7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}

.logout-panel .logout-list {
	font-size: 1.25em;
}

.logout-panel .logout-list,
.logout-panel .logout-list li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.logout-panel .logout-list .logout-list-status {
	font-size: 1.5em;
	width: 1em;
	height: 1em;
	line-height: 1;
	vertical-align: bottom;
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.logout-panel .logout-list .logout-list-status:before {
	display: inline-block;
	height: 100%;
}
.logout-panel .logout-list [data-status="pending"] .logout-list-status:before {
	content: '?';
}
.logout-panel .logout-list [data-status="success"] .logout-list-status:before {
	content: '\2713 ';
	color: #009900;
}
.logout-panel .logout-list [data-status="failure"] .logout-list-status:before {
	content: '\2718 ';
	color: #DD0000;
}
.logout-panel .logout-list [data-status="loading"] .logout-list-status:before {
	content: '...';
	position: absolute;
	word-wrap: break-word;
	overflow-wrap: break-word;
	-webkit-animation: logout-list-status-icon 1s linear infinite;
	   -moz-animation: logout-list-status-icon 1s linear infinite;
	     -o-animation: logout-list-status-icon 1s linear infinite;
	        animation: logout-list-status-icon 1s linear infinite;
}
@-webkit-keyframes logout-list-status-icon {
	0% {
		width: 0;
	}
	75% {
		width: 100%;
	}
}
@-moz-keyframes logout-list-status-icon {
	0% {
		width: 0;
	}
	75% {
		width: 100%;
	}
}

@-o-keyframes logout-list-status-icon {
	0% {
		width: 0;
	}
	75% {
		width: 100%;
	}
}

@keyframes logout-list-status-icon {
	0% {
		width: 0;
	}
	75% {
		width: 100%;
	}
}
